html, body {
    margin: 0;
    padding: 0;
    
  }
  .menu{
    width: 410px;
    height: 70px;
    background-color:rgb(117, 85, 62);
    margin: 0 auto;
  }
  .menu_list_1 > li{
    float: left;
    padding: 15px;
    list-style: none;
  }
  .menu_list {
    position: absolute;
    background-color:rgb(63, 29, 5);
    margin: 0 auto;
    display: none;
    margin-left: -20px;
  }
  .hover_menu:hover > .menu_list {
    display: block;
  }
  .menu_list li{
    list-style: none;
  padding: 20px;
  }